@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
html {
	scroll-behavior: smooth;
}

a:target {
	background-color: white;
	color: black;
}
.navbar {
	position: sticky;
	top: 0;
	background-color: transparent;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	z-index: 1000;
}

/* Change background color when scrolling */
body:not(:has(.navbar:below)) .navbar {
	background-color: white;
}

.navbar.sticky {
	background-color: white;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}
